* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;			
}

body {
    padding: 10px;
    overflow: hidden;
    zoom: revert;
}

.transparent {
    opacity: 0.5;
}

#main {
    display: flex;
    align-items: flex-start; 
    flex-wrap: nowrap;
    flex-direction: row;
    height: calc(100vh - 40px);			
}

#variables {
    width: 250px;
    text-align: center;
    
}

#displayContainer h2 {
    text-align: center;
}

#chartContainer {
    flex-grow: 1;
    align-self: stretch;
    flex-basis: 250px;
}

#variables {
    border-collapse: collapse;
}

#variables tr.display td {
    border-top: 1px solid #c0c0c0;
}

#variables tr.display:last-of-type td{
    border-bottom: 1px solid #c0c0c0;
}

#variables td {

    white-space: nowrap;
}
#variables .varName {
    text-align: right;
    width: 50px;
    text-overflow: clip;
}
#variables .varName::after {
    content: ":";
}
#variables .varValue {
    text-align: right;
    width: 150px;
    text-overflow: clip;
}		
#variables .unit {
    text-align: left;
    width: 40px;
    text-overflow: clip;
}

.animated-transitions {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
